 .paging_full_numbers a.paginate_button {
	    background-color: #ffffff;
        border-radius:0px;
        margin:0px;
        border-right:none;
    }
    .paging_full_numbers a.paginate_button:last-child{
        border-right:1px solid #aaa;
    }
    .paging_full_numbers a.paginate_active{
        background-color: #2980B9;
        border-radius:0px;
        margin:0px;
        padding:2px 8px;
        color:#FFF !important;
    }
	table.dataTable thead th{
	    border: solid 1px #D8D8D8;
		text-align:left;
		font-weight: bold;
		height : 40px;
		background: #EBEBEB;
		padding:3px 10px;
		color:#333333;
	}
		
	table.dataTable tr{
	    height : 35px
	}
	table.dataTable tr.odd {
	   background-color: #FFFFFF;
	}
	
	table.dataTable tr.even {
	   background-color: #F8F8F8;
	}

	table.dataTable td {
		padding: 3px 10px;
		border: solid 1px #D8D8D8;
	    text-align:left;
	}
	
    table.dataTable tr input {
        padding:2px 10px 2px 2px;
        color:#333333;
    }
    table.dataTable tr select {
		width: 66px;
		height: 22px;
		background-color: #E4E4E4;
		font-family: 'Arial';
		font-size: 13px;
		color: #949494;
		font-style: normal;
		font-weight: normal;
		text-decoration: none;
		border: solid 1px #D8D8D8;
    }
    
	table.dataTable {
		margin: 0 auto;
		clear: both;
		width: 100%;
	}
	
	.ui-widget-header {
	      background: repeat-x scroll 50% 50%;
		  border: none;
		  color: #FFFFFF;
		  font-weight: normal;
		  
	}
	.bottom {
	   margin-top: 20px;
	   text-align:right;
	   vertical-align:middle;
	}
	.dataTables_paginate {
	   float:none;
	   margin-right:10px;
	   display:inline-block;
	}
	.dataTables_length {
	   float:right;
	   padding-top:2px;
	   text-align:right;
	}
	#monitor-table_length {
		display:none;
	}